@model GummiBear.Models.Review

@{
    ViewData["Title"] = "Review - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Item Details</h2>
<hr />

<p>@Html.DisplayNameFor(model => model.Content): @Html.DisplayFor(model => model.Content)</p>
<p>@Html.DisplayNameFor(model => model.ItemId) : @Html.DisplayFor(model => model.ItemId)</p>

<p>@Html.ActionLink("Edit", "Edit", new { id = Model.ReviewId }) | @Html.ActionLink("Back to List", "Index")</p>